.content{
  margin: 2% 1%;
  background-color: #fff;
  padding: 1%;
  border-radius: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
}

th{
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

td{
  text-align: center;
  font-size: 17px;
}

mat-paginator{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

::ng-deep .mat-mdc-paginator-range-label,
::ng-deep .mat-mdc-paginator-icon{
  display: none !important;
}

.content-btn{
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.btn-visible{
  border: 0;
  background-color: #026502;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-visible:hover{
  background-color: #06d006;
  color: #000;
}

@media (max-width: 768px) {
  .content{
    margin: 10% 3%;
    padding: 3%;
    width: 87%;
    overflow: auto;
  }
}
