<section class="content-itens">
  <div class="item">
    <button mat-button [matMenuTriggerFor]="menuCategories" class="btn">
      <div class="content-btn">
        <mat-icon>category</mat-icon>
        Categorias
      </div>
    </button>

    <mat-menu #menuCategories="matMenu">
      <div class="itens">
        <button (click)="newCategory('700ms', '300ms')">Nova categoria</button>
      </div>
    </mat-menu>
  </div>

  <div class="item">
    <button mat-button [matMenuTriggerFor]="menuRegisterProducts" class="btn">
      <div class="content-btn">
        <mat-icon>add_shopping_cart</mat-icon>
         Produto
      </div>
    </button>

    <mat-menu #menuRegisterProducts="matMenu">
      <div class="itens">
        <button (click)="newProduct('700ms', '300ms')">Novo Produto</button>
      </div>
    </mat-menu>
  </div>
</section>
