<div class="content">
  <div class="header-content">
    <div class="container-header">
      <h2 mat-dialog-title>Cadastrar Novo Serviço</h2>
    </div>

    <div>
      <mat-checkbox (change)="checkboxCliked($event)">Serviço já Concluido</mat-checkbox>
    </div>
  </div>

  <form [formGroup]="newRegisterService" >
    <mat-form-field appearance="outline">
      <mat-label>Nome do Serviço</mat-label>
      <input matInput formControlName="nameService">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Selecione a sub categoria</mat-label>
      <mat-select disableRipple formControlName="categoryService">
        <mat-option *ngFor="let option of categoriesService" [value]="option.value">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor do Serviço</mat-label>
      <input matInput type="text" placeholder="0" formControlName="valueService" (input)="maskMoneyThree($event)">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Local Realizado</mat-label>
      <input matInput formControlName="localizationService">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Inicio</mat-label>
      <input matInput [matDatepicker]="startDatePicker" #startDateInput formControlName="dateInitalService">
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Forma de Pagamento</mat-label>
      <mat-select disableRipple formControlName="formPGService">
        <mat-option *ngFor="let option of formPayament" [value]="option.payment">
          {{ option.payment }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Conta Bancária</mat-label>
      <mat-select disableRipple formControlName="formPGService">
        <mat-option *ngFor="let option of bankAccounts" [value]="option.account">
          {{ option.account }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Finalização</mat-label>
      <input matInput [matDatepicker]="dp3" [disabled]="fieldInvalid" formControlName="dateFinalService">
      <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 [disabled]="fieldInvalid"></mat-datepicker>
    </mat-form-field>

    <div class="docs">
      <span class="label-docs">Comprovante</span>
      <input type="file" formControlName="noteService">
    </div>

    <button
      mat-raised-button
      color="accent"
      [disabled]="!newRegisterService.valid"
    >
      Cadastrar Serviço
    </button>
    <br>
  </form>
</div>
