<section class="content-itens">
  <div class="item">
    <button mat-button [matMenuTriggerFor]="menuCategories" class="btn">
      <div class="content-btn">
        <mat-icon>category</mat-icon>
        Categorias
      </div>
    </button>

    <mat-menu #menuCategories="matMenu">
      <div class="itens">
        <button (click)="newCategory('700ms', '300ms')">Nova categoria</button>
        <button (click)="newSubCategory('700ms', '300ms')">Nova sub categoria</button>
      </div>
    </mat-menu>
  </div>

  <div class="item">
    <button mat-button class="btn" (click)="registerUser('700ms', '300ms')">
      <div class="content-btn">
        <mat-icon>manage_accounts</mat-icon>
        Usuários
      </div>
    </button>
  </div>

  <div class="item">
    <button mat-button class="btn" (click)="registerBankAccount('700ms', '300ms')">
      <div class="content-btn">
        <mat-icon>account_balance</mat-icon>
        Contas
      </div>
    </button>
  </div>
</section>
