<div class="grid container">
  <div class="image-user">
    <img src="../../../assets/img/user.png" alt="image user login">
  </div>

  <form [formGroup]="loginForm">
    <div class="card">
      <h1>Boas-vindas</h1>

      <div class="aling-columns">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>email</mat-icon>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')"> O e-mail é obrigatório. </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Verifique o e-mail digitado.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-icon matPrefix>key</mat-icon>
          <input matInput placeholder="Senha" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">A senha é obrigatória.</mat-error>
        </mat-form-field>

        <button mat-flat-button color="accent" (click)="submitLoginForm()" [disabled]="!loginForm.valid">
          <mat-icon>login</mat-icon>
          Entrar
        </button>
        <span matTooltip="Para recuperar a senha, entre em contato com o desenvolvedor">Esqueci a senha?</span>
      </div>
    </div>
  </form>
</div>
