.content{
  width: 700px;
}

.fields{
  display: flex;
  justify-content: space-between;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}

mat-form-field{
  margin: 0 2%;
  width: 100%;
}

.btn{
  width: 96%;
  margin: 0 2%;
}

.content-fields{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 768px) {
}
