<form [formGroup]="formUpdateProviderLegal">
  <div class="content">
    <h2 mat-dialog-title>Atualizar cadastro</h2>

    <div class="fields">
      <mat-form-field appearance="outline">
        <mat-label>Razão Social</mat-label>
        <input matInput formControlName="social_reason">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome Fantasia</mat-label>
        <input matInput formControlName="fantasy_name">
      </mat-form-field>
    </div>

    <div class="fields">
      <mat-form-field appearance="outline">
        <mat-label>Inscrição Estadual</mat-label>
        <input matInput formControlName="state_registration">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput formControlName="cnpj" mask="00.000.000/0000-00">
      </mat-form-field>
    </div>

    <div class="fields">
      <mat-form-field appearance="outline">
        <mat-label>Grupo</mat-label>
        <mat-select disableRipple formControlName="group_name">
          <mat-option *ngFor="let option of groups" [value]="option.group">
            {{ option.group }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="fields">
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="number_phone" mask="(00) 00000-0000">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone reserva</mat-label>
        <input matInput formControlName="number_phone_reserve" mask="(00) 0000-0000">
      </mat-form-field>
    </div>

    <div class="fields">
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
    </div>

    <div class="content-fields">
      <mat-form-field appearance="outline" style="width: 30%;">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="district">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 43%;">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="localization">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 15%;">
        <mat-label>Número</mat-label>
        <input matInput formControlName="number_localization" >
      </mat-form-field>
    </div>

    <div class="fields">
      <mat-form-field appearance="outline">
        <mat-label>Serviço prestado</mat-label>
        <input matInput formControlName="service_provider">
      </mat-form-field>
    </div>
  </div>

  <button class="btn" mat-raised-button color="accent" [disabled]="!formUpdateProviderLegal.valid" (click)="registerProvider()">
    Atualizar
  </button>
  <br><br>
</form>
